n8n/workflows/attachment-received.json
{
  "name": "AEF Attachment Received",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aef-attachments",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equal",
              "value2": "incident.attachment.uploaded"
            }
          ]
        }
      },
      "id": "if-attachment",
      "name": "Is attachment event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ 'New evidence: ' + $json.payload.fileName + ' (' + $json.payload.category + ')' }}"
            }
          ]
        }
      },
      "id": "format",
      "name": "Format attachment alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Is attachment event?", "type": "main", "index": 0 }]]
    },
    "Is attachment event?": {
      "main": [[{ "node": "Format attachment alert", "type": "main", "index": 0 }], []]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["aef", "attachments"]
}
