n8n/workflows/critical-incident-alert.json
{
  "name": "AEF Critical Incident Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aef-critical",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.payload.critical }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-critical",
      "name": "Is critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "alert",
              "value": "={{ 'CRITICAL: ' + $json.payload.title + ' — ' + $json.payload.recommendedAction }}"
            }
          ]
        }
      },
      "id": "format",
      "name": "Format critical alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, -40]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Is critical?", "type": "main", "index": 0 }]]
    },
    "Is critical?": {
      "main": [[{ "node": "Format critical alert", "type": "main", "index": 0 }], []]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["aef", "incidents", "critical"]
}
