n8n/workflows/incident-notification.json
{
  "name": "AEF Incident Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aef-incidents",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equal",
              "value2": "incident.analyzed"
            }
          ]
        }
      },
      "id": "if-analyzed",
      "name": "Is analyzed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ 'Incident analyzed: ' + $json.payload.title + ' [' + $json.payload.severity + ']' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-analyzed",
      "name": "Format analyzed alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, -80]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ 'New incident: ' + $json.payload.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-created",
      "name": "Format created alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, 80]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Is analyzed?", "type": "main", "index": 0 }]]
    },
    "Is analyzed?": {
      "main": [
        [{ "node": "Format analyzed alert", "type": "main", "index": 0 }],
        [{ "node": "Format created alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": ["aef", "incidents"]
}
